.sidebar {
  height: calc(100vh - 40px);
  width: 280px;
  background-color: #121212;
  border-right: 1px solid #333333;
  position: fixed;
  text-align: center;
  padding: 20px 10px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.logo {
  font-size: 36px;
  color: rgba(255, 255, 255, 0.87);
  user-select: none;
  padding: 20px 0;
}

.text {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.66);
  padding: 10px 0;
}

#algoSelect {
  margin: 20px 10px;
}

#algoSelect input {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  text-align: left;
}

.footer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.heart-icon {
  transition: all 0.5s;
}

.footer-link {
  color: rgba(255, 255, 255, 0.3);
  font-size: 14;
  text-decoration: none;
  border-bottom: 1px solid rgb(255, 255, 255, 0.3);
  width: 200;
}

.footer-link:hover {
  color: rgb(255, 255, 255, 0.5);
}

.footer-link:hover .heart-icon {
  transform: scale(1.5);
  filter: brightness(2) hue-rotate(360deg);
}

.highlight-text {
  color: rgba(255, 255, 255, 0.87);
}
