.node {
  width: 25px;
  height: 25px;
  outline: 1px solid rgb(175, 216, 248);
  box-sizing: border-box;
}

.node-start {
  cursor: pointer;
  user-select: none;
  background-color: red;
}

.node-finish {
  cursor: pointer;
  user-select: none;
  background-color: green;
}
