.node {
  width: 28px;
  height: 28px;
  outline: 3px solid var(--bg-color);
  box-sizing: border-box;
  background-color: var(--grey);
}

.node-start {
  cursor: pointer;
  user-select: none;
  background-color: var(--pink);
}

.node-finish {
  cursor: pointer;
  user-select: none;
  background-color: var(--green);
}

.node-path {
  background-color: var(--orange);
}

.node-wall {
  background-color: black;
}
